:root{
    --main-color:#389ED8;
    --main-transition:0.5s;
    --second-color:#0073b9;
    --btn-back:#0074b7;
    --clients:#000000  #009FDB;
    --pages: #02BFE6;
    --four-color:#45E900
}
body{
    margin: 0;
    padding: 0;
    font-family: 'cai' !important;
   overflow: hidden;
 
}
.control{
   
}
.control .control-nav{
    background-color: var(--main-color);
    padding: 8px;
}
.control .control-nav-content{
    
    text-align: center;
}
.control .control-nav ul{
    display: flex;
    justify-content: space-around;
    border: none;
}
.control .control-nav ul li{
list-style: none;
background-color: transparent;
font-size: 30px;
cursor: pointer;
}
.control .control-nav ul li button{
        color: white;
        border: none ;
}
.control .control-nav ul li button:hover{
    border: none ;
}
.control .control-nav ul li .active{
    border: none ;
    background-color: transparent;
    
}
/* .control .control-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
} */
.control .control-content .pay{
    margin: 5px;
    width: auto;
    height: 600px;
}

.control .control-content .pay img{
    max-width: 200px;
  
    border-radius: 8px;
    height: 48px;
}

.control .control-content .pay {
    border-right: 2px solid rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 800;
    width: 270px;
    overflow-y: auto;

}
.control .control-content .pay:last-child {
    border-right: none;
}
.control .control-content .pay  .item:last-child{
    margin-bottom: 44px !important;
}
.control .control-content .pay  .item{
   
    
    border: 1px solid black;
   
}
#سجل .item {
    height: 90px;
}
.control #ايداع .pay  .item {
    border-bottom: 1px solid black;
}

.control .control-content .pay  .item .copy{
    font-size: 18px;
    cursor: pointer;
}
.control .control-content .pay  .item .price{
    border-bottom: 2px solid black;
    
}

.control .control-content .pay  .item .control-item .accept{
   color: white;
   font-weight: 900;
   background-color: green;
   
}
.control .control-content .pay  .item .control-item .not-accept{
    color: white;
    font-weight: 900;
    background-color: red;
    
 }

.control .control-content .pay  .item h6,h5,h4{
   
    font-weight: 700;
} 
.control .control-content .pay .total{
    border-bottom: 1px solid black;
    
}
.control .control-content .pay form{
    position: relative;
 }
.control .control-content .pay .add-item input{
    border-radius: 0;
 }
.control .control-content .pay .add-item button{
   background-color: transparent;
   color: #0073b9;
   border: none;
   height: 38px;
   border: 1px solid #ced4da;
   border-right:none ;
   border-radius: 0;
   border-radius: 5px 0 0 5px;
}
.control .control-content .pay  .item i {
   border: 1px solid #aeafb0;
   padding: 4px;
   border-radius: 50px;
   width: 20px;
   height: 20px;
   cursor: pointer;
 }
 .control .control-content .pay  .item p {
    font-size: 9px;
}
 .control .control-content .pay .search-icon{
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 2em;
    cursor: pointer;
 }
.control .control-content .pay .total h6{
   
    font-weight: 800;
}
.control .control-content .pay h3{
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}
.section {
    margin-top: 15px;
}
@media (max-width:1298px) {
    .control .control-content .pay  .item p {
        font-size: 7px;
    }
    .control .control-content .pay .add-item button{
        font-size: 9px;
        height: 28px;
    }
    .control .control-content .pay .add-item input {
        font-size: 9px;
    }
    .control .control-content .pay .item h6, h5, h4 {
        font-size: 15px;
    }
}
@media (max-width:1100px) {
    .control .control-content .pay{
        margin-bottom: 40px;
    }
}

hr{
    height: 2px !important;
    color: black ;
}

@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 48.66666667% !important;
}
}